.tag-content {
	color: var(--text-color);
	padding: 8px 7px;
	margin-right: 5px;
	border-radius: 4px;
	height: fit-content;
}

.error {
	background-color: #563036;
	border-left: 4px solid #f91b23;
}

.default {
	background-color: #264754;
	border-left: 4px solid #0099bf;
}

.warning {
	background-color: #4e443c;
	border-left: 4px solid #e28744;
}

.danger {
	background-color: #3a2f39;
	border-left: 4px solid #7f2039;
}

.yellow {
	background-color: #545639;
	border-left: 4px solid #ffe115;
}

.pink {
	background-color: #494247;
	border-left: 4px solid #cd7c80;
}

.success {
	background-color: #284235;
	border-left: 4px solid #2d8021;
}

.info {
	background-color: #233162;
	border-left: 4px solid #1633ff;
}
