:root {
	--primary-background: #181f27;
	--secondary-background: #182027;
	--third-backdround: #273139;
	--text-color: white;
}

[data-theme='dark'] {
	--primary-background: #fafcfb;
	--secondary-background: #c3c7c4;
	--third-backdround: #dee0df;
	--text-color: black;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary-background);
	color: var(--text-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
